<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="http://your-app-domain.com/website-page?data=some_data">Send data to Flask app</a>
    <form action="http://your-app-domain.com/website-page" method="get">
        <input type="text" name="data" value="some_data">
        <input type="submit" value="Send data to Flask app">
    </form>
</body>
</html>